 

/* efectos por defecto */
body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #ffffff;
    
    margin: 0;
    background-color: #ffffff;
}

/* efectos para el contenedor de pantalla completa */
#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    
   /* background-image: url(../imagenes/fondo_difuminado_login.jpg); */
    background-position: center;
    background-size: cover;
}

#contenerdorCentrador
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;

    padding-top: 10px;
}

#div1
{
    padding-top: 15px;
    background-color: #6e0f6a;
    margin: 0;
    padding: 2;
}

#div2
{
    padding-top: 15px;
    background-color: #e86513;
    margin: 0;
    padding: 1;
}
/* contenedor del login a la izquierda */
#contenedorcentrado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    
    min-width: 380px;
    max-width: 900px;
    width: 90%;

    padding-top: 3%;
    
    background-color: #ffffff;
    
    /*opacity: 0.50;
    filter: alpha(opacity=50);*/
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    padding: 30px;
    box-sizing: border-box;
}

/* formulario de login */
/* formulario de login */
#login {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    padding: 30px 30px 50px 30px;
    background-color: #ffffff;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
    
    opacity: 1;
    filter: alpha(opacity=1);
}

#login label {
    display: block;
    font-family: 'Overpass', sans-serif;
    font-size: 120%;
    color:#150d5e;
    
    margin-top: 15px;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #000000;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border-radius: 10px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #000000;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#000000;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #ffffff;
    
    margin-top: 10px;
    cursor: pointer;
}

#login button:hover {
    background-color: #e86513;
    color:#ffffff;
}
/* formulario de login */
/* formulario de login */

/* seccion de la derecha */
/* seccion de la derecha */
/* por defecto */
#derecho {
    /*display: flex;
    align-items:center;
    justify-content:center;*/
    
    text-align: center;
    width: 100%;
    /*
    opacity: 0.70;
    filter: alpha(opacity=70);*/
    
    padding:20px 20px 20px 50px;
    box-sizing: border-box;
}

.titulo {
    font-size: 300%;
    color:#6e0f6a;
}

.logo-empresa img {
    width: 60%;
}

hr {
    border-top: 1px solid #070707;
	border-bottom: 1px solid #020202;
    
}
.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #000000;
}
/* seccion de la derecha */
/* seccion de la derecha */

/* ajustar a pantallas con ancho menor o igual a 775px; */
/* ajustar a pantallas con ancho menor o igual a 775px; */
@media all and (max-width: 775px)
{
    #contenedorcentrado {
        flex-direction:column-reverse;

        min-width: 380px;
        max-width: 900px;
        width: 90%;

        background-color: #ffffff;
        

        /*opacity: 0.50;
        filter: alpha(opacity=50);*/

        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;

        -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);

        padding: 30px;
        box-sizing: border-box;
    }
    
    #login {
        margin: 0 auto;
    }
    
    #derecho {
        padding:20px 20px 20px 20px;
    }
    
    #login label {
        text-align: left;
    }
    
    .titulo{
        font-size: 200%;
        color:black;
    }

    .pie-form a{
        color: #000000;
    }
}
/* ajustar a pantallas con ancho menor o igual a 775px; */
/* ajustar a pantallas con ancho menor o igual a 775px; */