<div id="contenerdorCentrador">
    <img src="../../assets/image/liverpool.jpg" id="logo" alt="">
</div>

<div id="div1"></div>
<div id="div2"></div>


<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">SSP - {{this.userNickname}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">SSP</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a type="submit" class="nav-link active" aria-current="page" href="indexHome">Home</a>
          </li>
          <li class="nav-item">
          <a type="submit" class="nav-link active" aria-current="page" href="create">Nuevo Registro</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            STATUS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Todos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">Pendiente</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">Proceso</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">Finalizado</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">Activo</a></li>
          </ul>
        </li> -->
        </ul>
       <!-- <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <div class="" style="position: fixed;  bottom: 0px;">
            <button (click)="logOut()" class="btn btn-danger">Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<br>

<div class="table-responsive">
<table class="table table-striped" style="padding-bottom: 10%;">
  <thead class="table-warning table-group-divider">
    <tr>
      <th scope="col">ACTIVO</th>
      <th scope="col">Status</th>
      <th scope="col">Titulo</th>
     <!-- <th scope="col">Asunto Correo</th> -->
      <th scope="col">TXN</th>
      <th scope="col">Ambiente</th>
      <th scope="col">Estimación</th>
      <th scope="col">Fecha Liberación</th>
      <th scope="col">CRQ</th>
      <th scope="col">DETALLES</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <tr *ngFor="let item of responseArray; let i = index" class="table-hover-row">
      <td class="one-line">{{item.activo}}</td>
      <td class="one-line"><strong>{{item.status}}</strong></td>
      <td class="one-line">{{item.titulo}}</td>
     <!-- <td>{{item.asunto}}</td>-->
      <td class="one-line">{{item.txns}}</td>
      <td><span class="ambiente-pill"[ngStyle]="{'background-color': item.ambiente === 'PRODUCTIVO' ? '#5dfa5d' :
                                                                      item.ambiente === 'CALIDAD' ? '#ff9d00' :
                                                                      item.ambiente === 'DESARROLLO' ? '#4cb3ff' :
                                                                                                        'gray',
                'color': item.ambiente === 'CALIDAD' ? 'black' : 'black'}">
          <span class="ambiente-icon">
            {{ 
              item.ambiente === 'PRODUCTIVO' ? '✔️' :
              item.ambiente === 'CALIDAD' ? '🧪' :
              item.ambiente === 'DESARROLLO' ? '🛠️' : '❓'
            }}
          </span>{{ item.ambiente }}</span></td>
      <td class="one-line">{{item?.estimacion || '0'}} días</td>
      <td class="one-line">{{item.fecha_liberacion}}</td>
      <td class="one-line">{{item.crq}}</td>

      <td>
        <button (click)="detail(item._id)" class="btn btn-outline-primary">
          Detalles
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
